{% extends 'index.html' %}
{% load static %}

{% block title %}
Rogue-Scans | Log in
{% endblock %}

{% block content %}
<div class="loginForm">
    <div class="container3">
        <h4>Welcome ! Please log in to continue.</h4><br>
        <div class="form1">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Login</button>
            </form>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary mt-2">Don't have an account? Register</a>
        </div>
    </div>
</div>
{% endblock %}