{% extends 'index.html' %}
{% block title %}
Delete Chapter
{% endblock %}

{% block content %}

<div class="deleteForm">
    <h4>Are you sure you want to delete <strong>{{chapter.title}}</strong>?</h4>
    <div class="form1">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-danger">Confirm Delete</button>
        </form>
        <a href="{% url 'mag_details' chapter.manga.name chapter.manga.id %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
</div>
{% endblock %}