{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="card-group" >
  {% for item in mags %}
  <div class="card">
    <a href="{% url 'mag_details' item.name item.id %} " style="text-decoration: none; color: inherit;">
    {% if item.pic %}
    <img src="{{item.pic.url}}" class="card-img-top" alt="An image of {{item.name}}">
    {% else %}
    <img src="{% static 'images/carousel/img1.jpg' %}" class="card-img-top">
    {% endif %}

    <div class="card-body">
      
      <a href="{% url 'mag_details' item.name item.id %}">
        <h5 class="card-title">{{item.name}}</h5>
      </a>
      <p class="card-text">{{item.desc}}</p>
    </div>
  </a>
  </div>
  
  {% endfor %}
</div>

{% endblock %}